.navbar {
  /* outline: 1px solid blue; */
  z-index: 8;
  display: flex;
  justify-content: space-between;
  height: 52px;
  padding: 1rem;

  position: relative;
}
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar-logo-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-logo-text);
}

.navbar-links {
  display: none;
  gap: 1.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--clr-navbar-text);
}

@media (min-width: 768px) {
  .navbar {
    height: 72px;
  }
  .navbar-links {
    display: flex;
  }
}
