/* Animeringar */
@keyframes spinn {
    100%{
        rotate: 360deg;
    }
    50%{
        scale: 1.07;
    }
}

/* Animeringar (Lånat från TailWind) */
@keyframes jump {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-jump {
    animation: jump 1s infinite;
}

.hover-zoom:hover{
    scale: 1.05;
}
.hover-spinn:hover{
    animation: spinn;
    animation-duration: 500ms;

}

/* FAQ Transitions */
.faq-faqs{
    .question, .answer{
        transition: all 250ms linear;

        button{
            transition: rotate 250ms linear;
        }
    }
}
