.appfeatures {
  display: grid;
  padding-bottom: 4rem;
  place-items: center;
  text-align: center;

  .appfeatures-img {
    display: none;
    background: url(../images/svg/features/appFeaturesPhone.svg);
    height: 684px;
    width: 348px;
    object-fit: cover;
  }

  .appfeatures-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .appfeatures-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 3rem;
    text-align: center;
    max-width: 700px;
    h3 {
      font-weight: 900;
    }
    p {
      font-size: 1.125rem;
      padding-inline: 1rem;
    }
  }
  .appfeatures-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
  }
  .appfeatures-egenskaper {
    max-width: 400px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    text-align: start;
    p {
      padding-top: 1rem;
    }
  }

  @media (min-width: 768px) {
    gap: 3rem;
    .appfeatures-container {
      grid-template-columns: 1fr 1fr;
    }
    .appfeatures-text {
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.125rem;
      }
    }
  }
  @media (min-width: 1280px) {
    grid-template-columns: auto 1fr;
    .appfeatures-wrapper {
      align-items: flex-start;
    }
    .appfeatures-img {
      display: block;
    }
    .appfeatures-text {
      padding-top: 0;
      text-align: start;
      p {
        padding-inline: 0;
      }
    }
  }
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  aspect-ratio: 1;
  background-color: var(--clr-features-icon-bg);
  border-radius: 0.5rem;
}
