.sponsors {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  outline: 1px solid red;

  padding-inline: 1.5rem;

  @media (min-width: 768px) {
    display: flex;
  }
}

.card-5,
.card-6 {
  display: none;
}
@media (min-width: 992px) {
  .card-5 {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .card-6 {
    display: grid;
  }
}
