.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-11 {
  gap: 2.75rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-13 {
  gap: 3.25rem;
}
.gap-14 {
  gap: 3.5rem;
}
.gap-15 {
  gap: 3.75rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-17 {
  gap: 4.25rem;
}
.gap-18 {
  gap: 4.5rem;
}

.shadow-sm {
  box-shadow: 0 4.4px 12px rgba(19, 16, 34, 0.06),
    0 2px 6.4px rgba(19, 16, 34, 0.03);
}
.shadow-md {
  box-shadow: 0 4.4px 20px rgba(19, 16, 34, 0.05),
    0 4px 9px rgba(19, 16, 34, 0.03);
}
.shadow-lg {
  box-shadow: 0 4.8px 24.4px rgba(19, 16, 34, 0.1),
    0 4px 13px rgba(19, 16, 34, 0.06);
}
.shadow-brands {
  box-shadow: 0 8px 18px rgba(99, 101, 241, 0.9);
}
