:root {
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: var(--clr-background); */

  scroll-behavior: smooth;

  --tablet: 575px;
  --tablet-lg: 768px;
  --desktop: 996px;
  --desktop-lg: 1200px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-default: #535656;

  --clr-gray-100: #f3f6ff;
  --clr-gray-200: #eff2fc;
  --clr-gray-300: #e2e5f1;
  --clr-gray-400: #d4d7e5;
  --clr-gray-500: #b4b7c9;
  --clr-gray-600: #9397ad;
  --clr-gray-700: #565973;
  --clr-gray-800: #33354d;
  --clr-gray-900: #0b0f19;

  --clr-primary: #6366f1;
  --clr-secondary: #eff2fc;

  --clr-logo-text: #0b0f19;
  --clr-navbar-text: #33354d;

  --clr-card-sponsor-background: transparent;
  --clr-card-sponsor-border: #e2e5f1;

  --clr-background: #ffffff;
  --clr-bg-hero-top: rgba(242, 245, 252, 0.07);
  --clr-bg-hero-bg: rgba(224, 118, 243, 0.06);
  --clr-bg-hero-bottom: rgba(99, 101, 241, 0.1);

  --clr-bg-popup: rgba(21, 57, 187, 0.401);
  --clr-text-popup: #ffffff;

  --clr-text-heading: #0b0f19;
  --clr-text: #565973;

  --clr-forms-border: #d4d7e5;
  --clr-forms-placeholder: #b4b7c9;

  --clr-features-icon-bg: #eff2fc;

  --clr-rounded-btn-bg: #f3f6ff;
  --clr-rounded-btn-text: #3e4265;

  --clr-btn-bg: #6366f1;
  --clr-btn-bg-hover: rgba(99, 101, 241, 0.8);
  --clr-btn-text: #ffffff;

  /* Nedan är gamla */

  --clr-border: #e2e5f1;

  --clr-card-faq: #ffffff;
  --clr-card-contact: #ffffff;
  --clr-card-review: #ffffff;

  --clr-btn-bg-secondary: #eff2fc;
  --clr-btn-text-secondary: #33354d;
  --clr-btn-border: rgba(99, 101, 241, 0.35);

  --clr-background-alt: #f3f6ff;

  --clr-bg-faq: #ffffff;

  --clr-outline-focus: var(--clr-primary);

  --clr-primary-light: #6d7573;
  --clr-primary-dark: #2f3331;
  --clr-secondary: #d9c3a9;
  --clr-accent: #f2eddc;
  --clr-gray: #e6e5e5;
  --clr-light: #fff;
  --clr-dark: #171717;

  --clr-hero-link-text: #fff;
  --clr-hero-link-bg: #131022;

  --clr-rounded-active-bg: var(--clr-btn-bg);
  --clr-rounded-active-text: #ffffff;
  --clr-card-review: #fff;
}
.dark-mode {
  /* background-color: var(--clr-background); */

  --clr-primary: #6366f1;
  --clr-secondary: #eff2fc;

  --clr-logo-text: #ffffff;
  --clr-navbar-text: #ffffff;

  --clr-card-sponsor-background: transparent;
  --clr-card-sponsor-border: rgba(255, 255, 255, 0.15);

  --clr-background: #0b0f19;
  --clr-background-alt: #f3f6ff;
  --clr-bg-hero-top: #0b0f19;
  --clr-bg-hero-bg: rgba(224, 118, 243, 0.05);
  --clr-bg-hero-bottom: rgba(99, 101, 241, 0.1);

  --clr-bg-popup: rgba(255, 255, 255, 0.305);
  --clr-text-popup: #ffffff;

  --clr-text-heading: #ffffff;
  --clr-text: rgba(255, 255, 255, 0.7);

  --clr-forms-border: hsla(0, 0%, 100%, 0.18);
  --clr-forms-placeholder: hsla(0, 0%, 100%, 0.4);

  --clr-features-icon-bg: rgba(255, 255, 255, 0.05);

  --clr-rounded-btn-bg: rgba(255, 255, 255, 0.05);
  --clr-rounded-btn-text: #ffffff;

  /* Nedan är gamla */

  --clr-card-sponsor: #ffffff;
  --clr-card-faq: #ffffff;
  --clr-card-contact: rgba(255, 255, 255, 0.04);

  --clr-rounded-active-bg: var(--clr-btn-bg);
  --clr-rounded-active-text: #ffffff;

  --clr-hero-link-text: #3e4265;
  --clr-hero-link-bg: #eff2fc;

  --clr-card-review: rgba(255, 255, 255, 0.04);

  --clr-background-alt: rgba(255, 255, 255, 0.04);
  --clr-bg-faq: rgba(255, 255, 255, 0.05);
  --clr-border: rgba(255, 255, 255, 0.15);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
svg {
  vertical-align: center;
}

a {
  text-decoration: none;
  color: var(--clr-navbar-text);
}
a:hover {
  color: var(--clr-primary);
  text-decoration: underline;
}

h1 {
  font-size: 2.5rem;
  color: var(--clr-text-heading);
}
h2 {
  font-size: 2rem;
  color: var(--clr-text-heading);
}
h3 {
  font-size: 1.75rem;
  color: var(--clr-text-heading);
}
h4 {
  font-size: 1.5rem;
  color: var(--clr-text-heading);
}
h5 {
  font-size: 1.25rem;
  color: var(--clr-text-heading);
}
h6 {
  font-size: 1rem;
  color: var(--clr-text-heading);
}
p,
span,
label {
  color: var(--clr-text);
}

* button:focus-visible,
* input:focus-visible,
* span:focus-visible,
* a:focus-visible {
  outline: 3px solid var(--clr-outline-focus) !important;
  outline-offset: 3px;
}

body {
  background-color: var(--clr-background);
  min-width: 320px;
  min-height: 100svh;
}
